:host {
  --vc-background: var(--ha-card-background, var(--card-background-color, white));
  --vc-primary-text-color: var(--primary-text-color, #000);
  --vc-secondary-text-color: var(--secondary-text-color, #555);
  --vc-icon-color: var(--secondary-text-color);
  --vc-toolbar-background: var(--vc-background);
  --vc-toolbar-text-color: var(--vc-secondary-text-color);
  --vc-toolbar-icon-color: var(--vc-secondary-text-color);
  --vc-divider-color: var(--entities-divider-color, var(--divider-color, #ccc));
  --vc-spacing: 10px;
  --ha-card-border-radius: 12px;
  --ha-icon-size: 24px;
  
  display: flex;
  flex-direction: column;
  flex: 1;
}

ha-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: var(--ha-card-border-radius);
  overflow: hidden;
}

.background {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: auto;
  border-radius: var(--ha-card-border-radius);
  overflow: hidden;
}

.pointer {
  cursor: pointer;
}

.preview {
  background-color: var(--primary-color, #008CBA);
  cursor: pointer;
  position: relative;
}

.preview.not-available {
  filter: grayscale(1);
}

.not-available {
  text-align: center;
  color: var(--text-primary-color, #333);
  font-size: 16px;
}

.metadata {
  margin: var(--vc-spacing) auto;
}

.title {
  font-size: 20px;
  padding: 5px 16px;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  cursor: pointer;
}

.grid-left,
.grid-right {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.grid-left {
  text-align: left;
  padding-left: 10px;
  border-left: 2px solid var(--primary-color);
}

.grid-right {
  text-align: right;
  padding-right: 10px;
  border-right: 2px solid var(--primary-color);
}

#items {
  padding: 0;
  margin: 0;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-in-out;
}

#items[open] {
  overflow: hidden;
  max-height: 500px;
}

.toolbar {
  min-height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.toolbar ha-icon-button:first-child {
  margin-left: var(--vc-spacing);
}

.toolbar ha-icon-button:last-child {
  margin-right: var(--vc-spacing);
}

.toolbar ha-icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.toolbar ha-icon {
  width: var(--ha-icon-size);
  height: var(--ha-icon-size);
  fill: currentColor;
  margin: 0;
}

.image {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  vertical-align: middle;
  fill: currentColor;
  width: var(--ha-icon-size);
  height: var(--ha-icon-size);
}

.problem {
  color: var(--error-color, #f44336);
  animation: blinker 2s cubic-bezier(0.5, 0, 1, 1) infinite alternate;
}

@keyframes blinker {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.state-div {
  display: grid;
  grid-template-columns: 24px 1fr;
  align-items: start;
}

.state-label {
  padding: 3px 0 0 10px;
}

#score {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 8px;
}

#score > * {
  margin-bottom: 8px;
}

#score > :last-child {
  margin-top: 0;
  margin-bottom: 0;
}

#score > :first-child {
  margin-top: 0;
}

score-card-row {
  display: flex;
  flex-grow: 1;
}

score-card-row > div {
  flex-basis: 100%;
}

score-card-row:empty {
  display: none;
}

score-card-card {
  display: flex;
  flex-basis: 100%;
  flex-direction: row;
  margin-right: 8px;
}

score-card-card:last-child {
  margin-right: 0;
}

score-card-background {
  cursor: pointer;
  flex-grow: 1;
  position: relative;
}

score-card-iconbar {
  color: var(--icon-color, var(--paper-item-icon-color));
  align-items: center;
  display: flex;
  height: 30px;
  justify-content: center;
  width: 30px;
}

score-card-currentbar,
score-card-backgroundbar,
score-card-contentbar,
score-card-targetbar {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: var(--score-card-border-radius, var(--ha-card-border-radius));
}

score-card-contentbar {
  align-items: center;
  color: var(--primary-text-color);
  display: flex;
  justify-content: flex-start;
}

.contentbar-direction-right {
  flex-direction: row;
}

.contentbar-direction-up {
  flex-direction: column;
}

score-card-backgroundbar {
  background: var(--bar-color);
  filter: brightness(0.5);
  opacity: 0.25;
}

score-card-currentbar {
  background: linear-gradient(
    to var(--bar-direction),
    var(--bar-color) var(--bar-percent),
    transparent var(--bar-percent),
    transparent var(--bar-percent)
  );
}

score-card-targetbar {
  background: linear-gradient(
    to var(--bar-direction),
    transparent var(--bar-percent),
    var(--bar-color) var(--bar-percent),
    var(--bar-color) var(--bar-target-percent),
    transparent var(--bar-target-percent)
  );
  display: var(--target-display);
  filter: brightness(0.66);
  opacity: 0.33;
}

score-card-markerbar {
  background: var(--bar-color);
  filter: brightness(0.75);
  opacity: 50%;
  position: absolute;
}

score-card-name {
  align-items: center;
  justify-content: center;
  margin: 4px;
  overflow: hidden;
  position: relative;
  text-align: left;
  text-overflow: ellipsis;
}

.name-outside {
  margin-left: 16px;
}

score-card-value,
score-card-min,
score-card-max,
score-card-divider {
  align-self: center;
  position: relative;
}

score-card-min,
score-card-max,
score-card-divider {
  font-size: 10px;
  margin: 2px;
  opacity: 0.5;
}

.min-direction-up {
  margin-top: auto;
}

.min-direction-right {
  margin-left: auto;
}

score-card-divider {
  margin-left: 0;
  margin-right: 0;
}

score-card-value {
  white-space: nowrap;
  margin: 4px;
}

.value-direction-right {
  margin-left: auto;
}

.value-direction-up {
  margin-top: auto;
}
